.back{
  background-image: url('./Assets/Images/19449741.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -999;
  position: absolute;
  top: 0;
}

.container{
  position: relative;
}
